* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
}

.headTitle h1 {
  margin-bottom: 10px;
}

.product-wrap {
  width: 1000px;
  margin: 20px 0;
}

.product1 {
  display: flex;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.box1{
  width: 200px;
  height: 150px;
  background-color: gray;
  border-radius: 6px;
  margin-right: 20px;
}

.product-info {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number input{
  width: 50px;
  height: 50px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.number input::placeholder{
  font-size: 30px;
}

.product2 {
  display: flex;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.box2{
  width: 200px;
  height: 150px;
  background-color: gray;
  border-radius: 6px;
  margin-right: 20px;
}

.codeInput {
  width: 350px;
  height: 30px;
  background-color: #19cc9b;
  display: flex;
  align-items: center;
  padding-left: 2px;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
  margin-top: 20px;
}

.codeInput:hover{
  background-color: #F58551;
  transition: 0.2s;
}

.codeInput input{
  width: 280px;
  height: 26px;
  border: none;
  border-top-left-radius: 25px ;
  border-bottom-left-radius: 25px ;
}

.payMentWrap{
  display: flex;
  justify-content: space-between;
}

.priceWrap {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin-bottom: 20px;
}

button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #19cc9b;
  color: #fff;
  transition: 0.2s;
  float: right;
}

button:hover{
  background-color: #F58551;
  transition: 0.2s;
  cursor: pointer;
}