.payMentWrap{
    width: 1000px;
    margin: 0 auto;
}

.Payment {
    display: flex;
    justify-content: space-between;
}

.codeInput {
    width: 350px;
    height: 30px;
    background-color: #19cc9b;
    display: flex;
    align-items: center;
    padding-left: 2px;
    border-radius: 25px;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .codeInput:hover{
    background-color: #F58551;
    transition: 0.2s;
  }
  
  .codeInput input{
    width: 280px;
    height: 26px;
    border: none;
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px ;
  }
  
  .priceWrap {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
  }
  
  button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #19cc9b;
    color: #fff;
    transition: 0.2s;
    float: right;
  }
  
  button:hover{
    background-color: #F58551;
    transition: 0.2s;
    cursor: pointer;
  }